
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="form">
          <form #loginForm="ngForm" (ngSubmit)="SignIn(loginForm)">
            <legend>Login Here</legend>
        
            <div class="form-group">
                <label for="UName">User Name</label>
                <input ngModel type="text" class="form-control" id="UserName" name="UserName" placeholder="Enter User Name">
            </div>
        
            <div class="form-group">
                <label for="Password">Password</label>
                <input ngModel type="password" class="form-control" id="Password"  name="Password" placeholder="Enter Password Here">
            </div>
        
        
        <span class="label label-danger">{{message}}</span>
        
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
<style type="text/css">
  .form {
    margin: 0 auto;
    width: 210px;
  }
  .form label{
    display: inline-block;
    text-align: right;
    float: left;
  }
  .form input{
    display: inline-block;
    text-align: left;
    float: right;
  }
  </style>
